.about .icon {
    position: relative;
    top: -11px;
    float: left;
    margin-right: 15px;
}

.about .icon i {
    font-size: 30px;
    border: 1px dashed #ff7a42;
    border-radius: 2px;
    padding: 10px;
    color: #ff7a42;
}

.intro .content ul li a i {
    color: #ff7a42;
    font-size: 22px;
    font-weight: bold;
}

.intro .content ul li a .fb-ico:hover {
    color: blue;
}

.intro .content ul li a .yt-ico:hover {
    color: red;
}

.intro .content ul li a .insta-ico:hover {
    color: purple;
}